<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
 <img src="https://s3.eu-west-3.amazonaws.com/ecommercethp/hallo26.jpg" alt="edit" />
<%= form_tag do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "uploader l'avatar" %>
<% end %>