<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Items</title>
  </head>
  <body>
    <h1>Items</h1>

    <%@cat_picture=CatPicture.all.order("title ASC")%>

    <table style="width: 1165px; height: 42px;" border="0">
      <thead>
        <tr>
          <td>Nom de la photo</td>
          <td>Photo</td>
          <td>Autre</td>
        </tr>
      </thead>
      <tbody>
        <!-- début boucle -->
        <% @cat_picture.each do |cat| %>
          <tr>
            <td style="width: 343px;"><%= cat.title%></td>
            <td style="width: 372px;">photo1</td>
            <td style="width: 500px;">autre1</td>
          </tr>
        <% end %>
        <!-- fin de boucle -->
      </tbody>  
    </table>
    <p><br>
    </p>
  </body>
</html>