<div class="container">

<% if notice %>
<br>
<div id="notice" class="alert alert-warning" role="alert">
  <%= notice %></div>
<% end -%>

<% if alert %>
<br>
<div id="alert" class="alert alert-warning" role="alert">
<%= alert %>
</div>
<% end -%>

</div>
